#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

# .gitattributes
*.js linguist-language=JavaScript
*.py linguist-language=Python
*.html linguist-language=HTML
*.java linguist-language=Java
*.css linguist-language=CSS


